<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078245469787-3drnko6ra4to7sm5riaiv02l9i7lhfpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078245469787-3drnko6ra4to7sm5riaiv02l9i7lhfpt</string>
	<key>API_KEY</key>
	<string>AIzaSyAiNvWF4y7Yrw1iQTsXAeyiKv4DW4SbL6w</string>
	<key>GCM_SENDER_ID</key>
	<string>1078245469787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaipaan</string>
	<key>PROJECT_ID</key>
	<string>chaipaan-c743f</string>
	<key>STORAGE_BUCKET</key>
	<string>chaipaan-c743f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078245469787:ios:f98d2beec359cf39</string>
	<key>DATABASE_URL</key>
	<string>https://chaipaan-c743f.firebaseio.com</string>
</dict>
</plist>